.telaInicial{
    background-color: aqua;
}

.finalCodigo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: aquamarine;
    padding: 100px 100px 100px 100px;
}

